#adminRoot {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#adminFlexBox {
  display: flex;
  flex-grow: 1;
  margin: 7% auto;
  gap: 10%;
}

.adminBtn {
  display: block;
  box-sizing: border-box;
  border: solid 5px transparent;
  padding: 3%;
}

.adminBtn > p {
  display: block;
  margin-top: 10px;
  font-size: 2rem;
}

.adminBtn > img {
  max-width: 30%;
}

#btn1:hover {
  cursor: pointer;
  border: solid 5px #004b83;
}

#btn2:hover {
  cursor: pointer;
  border: solid 5px #ffde73;
}
