#allCards {
  margin: 2% 5%;
  padding: 2%;
  border: solid 5px #004b8e;
}

#allCards > p {
  font-size: var(--fs-15);
  margin-bottom: 0;
}

.loading {
  font-size: var(--fs-15);
  text-align: center;
}
