/* 
Blue #004b83
Gray #b2b2b2
Yellow #ffde73

<weight>: Use a value from 400 to 700
<uniquifier>: Use a unique and descriptive class name
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --fs-025: 0.25rem;
  --fs-05: 0.5rem;
  --fs-075: 0.75rem;
  --fs-basic: 1rem;
  --fs-125: 1.25rem;
  --fs-15: 1.5rem;
  --fs-175: 1.75rem;
  --fs-2: 2rem;
  --fs-3: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cabin-font {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #1b3055;
  overflow-x: hidden;
}

#landingRoot {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.mainCard {
  width: 450px;
  max-width: 90%;
  margin: auto;

  background-color: #b2b2b2;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: var(--fs-15);
  text-align: center;
}

form {
  width: 80%;
}

.grid-inputs {
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 5%;
  row-gap: var(--fs-basic);
  margin-bottom: var(--fs-125);
  font-size: var(--fs-basic);
}

.inputWrapper {
  position: relative;
}

.inputWrapper > input {
  border: none;
  width: 85%;
}

.inputWrapper > input:focus {
  border: none;
  outline: none;
  color: #000000;
}

label {
  text-align: end;
}

p {
  margin-top: var(--fs-2);
  margin-bottom: var(--fs-05);
  font-size: var(--fs-075);
  text-align: center;
}

#logIn {
  display: block;
  box-sizing: border-box;
  width: 80%;
  padding: var(--fs-025);
  font-size: var(--fs-basic);
  margin: auto;
}

#logIn:hover,
#logIn:focus {
  box-shadow: 0 0 0 2px #ffde73;
}

.error {
  box-shadow: 0 0 0 1px #b00000;
  color: #b00000;
}

.errorMessageUser {
  position: absolute;
  color: #b00000;
  margin: 0;
  font-size: 0.5rem;
  text-align: left;
}

@media (max-width: 850px) {
  :root {
    --fs-025: 0.06rem;
    --fs-05: 0.125rem;
    --fs-075: 0.25rem;
    --fs-basic: 0.5rem;
    --fs-125: 0.75rem;
    --fs-15: 1rem;
    --fs-175: 1.25rem;
    --fs-2: 1.5rem;
    --fs-3: 1.75rem;
  }

  .mainCard {
    width: 100%;
    max-width: none;
    margin-top: 100px;
    height: calc(100% - 100px);
    border-radius: 70px 70px 0 0;
  }

  img {
    margin-top: 18%;
  }

  h1 {
    margin-top: 16px;
    margin-bottom: 30px;
  }
  #fname-label {
    font-size: var(--fs-15);
  }

  #id-label {
    font-size: var(--fs-15);
  }
  #hintUser {
    font-size: var(--fs-125);
  }
}
