#checkGradeRoot {
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

.login {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 5%;
}

.loginText {
  margin: 0;
  font-size: var(--fs-15);
}

.lastComment {
  font-size: var(--fs-15);
  margin: 2rem 0;
}
