.projectCard {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 1%;
}

.projectCard > p {
  font-size: 1.5rem;
  margin: 0;
}

.late {
  color: #990000;
}

.projectLock {
  max-width: 2rem;
  margin: 0;
  opacity: 0.8;
}

.lockedCard {
  background-color: #c2c2c2;
  color: #66666d;
}
